---
import Icon from './Icon.astro';
---

<section class="box skills skill-card hover-react">
	<div class="stack gap-2 lg:gap-4">
		<div class="row gap-1">
			<Icon icon="java-logo" color="var(--accent-regular)" size="2.5rem" gradient />
			<Icon icon="spring-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		</div>
		<h2>Java Backend</h2>
		<p>Spring boot: 5 years</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<div class="row gap-1">
			<Icon icon="react-logo" color="var(--accent-regular)" size="2.5rem" gradient />
			<Icon icon="angular-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		</div>
		<h2>Frontend Framework</h2>
		<p>ReactJS: 2 years<br />Angular: 2 years</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<div class="row gap-1">
			<Icon icon="postgre-logo" color="var(--accent-regular)" size="2.5rem" gradient />
			<Icon icon="mysql-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		</div>
		<h2>Databases</h2>
		<p>PostgreSQL: 3 years<br />MySQL: 2 years</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<div class="row gap-1">
			<Icon icon="git-logo" color="var(--accent-regular)" size="2.5rem" gradient />
			<Icon icon="github-logo" color="var(--accent-regular)" size="2.5rem" gradient />
			<Icon icon="gitlab-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		</div>
		<h2>Version Control</h2>
		<p>Git, Github, Gitlab</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.skill-card {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  	}

  	.skill-card.hover-react:hover {
		transform: translateY(-6px) scale(1.03);
		box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
		/* You can add more effects here */
	}
	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
		}

		.skills h2 {
			font-size: var(--text-xl);
		}
	}
</style>
